
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin: 0px auto; */
    margin-top: 75px;
    z-index: 20;
}

.form-control {
    width: 500px;
    background-color: #171717;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.form-input-group {
    width: 430px;
}

.form-header p {
    font-size: 1.1rem
}

.input-control {
    width: 430px;
    position: relative;
    margin-top: 30px;

}

.form-input {
    width: 430px;
    height: 45px;
    box-sizing: border-box;
    padding: 5px 20px;
    border: none;
    border-bottom: 2px solid white;
    background-color: #171717;
    color: white;
    font-size:1.1rem;

    
}

.form-label {
    position: absolute;
    top: 10px;
    left: 15px;
    pointer-events: none;
    color: white;
    transition: 0.5s;
    font-size: 0.9rem;

}

.form-input:focus {
    outline: none;
    border-bottom: 3px solid #ff114e;
}

.form-input:focus + .form-label, .form-input:valid + .form-label {
    top: -15px;
    left: 15px;
    transition: 0.5s;
    font-size: 0.8rem;
    color:#ff114e;
}

.form-input:valid {
    border-bottom: 3px solid #ff114e;
}

.form-name-control {
    display: flex;
    flex-direction: row;
    width: 430px;
    justify-content: space-between;
    margin-top: 30px;
 
}
.input-name-control {
    position: relative;
    width: 210px;
}
.form-input-name {
    box-sizing: border-box;
    padding: 5px 20px;
    width: 210px;
    height: 45px;
    color: white;
    background-color: #171717;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1.2rem;
}

.form-label-name {
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    left: 15px;
    pointer-events:none;
    transition: 0.5s;
}

.form-input-name:focus {
    outline: none;
    border-bottom: 3px solid #ff114e;
    /* color:#ff114e; */
}

.form-input-name:valid {
    border-bottom: 3px solid #ff114e;
}

.form-input-name:focus + .form-label-name,.form-input-name:valid + .form-label-name {
    position: absolute;
    top: -15px;
    font-size: 0.8rem;
    transition: 0.5s;
    color:#ff114e;
    
}

.form-button-control {
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.form-button {
    width: 210px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    background-color: #ff114e;
    color: white;
    font-family: Kanit;
}

.form-footer {
    display: flex;
    width: 430px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-footer p {
    color: white;
    font-size: 0.8rem;
}

.form-footer-a {
    color: #ff114e;
    text-decoration: none;
    font-size: 0.8rem;
}

.form-error {
    margin-top: 15px;
    border: 1px solid red;
    background-color: #ff114e;
    width: 430px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-resetpassword {
    margin-top: 20px;
    width: 430px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.form-resetpassword-text {
    color: #ff114e;
    text-decoration: none;
    font-size: 0.8rem;  
}

.form-button:hover {
    background-color: white;
    color: #ff114e;
    /* transition: 0.3s; */
}

.form-a:hover {
    color: white;

}

@media screen and (max-width:768px) {
    .form-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-control {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .form-input-group {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* align-items: center; */
        /* border: 1px solid red; */
        position: unset;
        margin: 0px;
    }
    .input-control {
        width: 100%;
        margin: 0px;
    }
    .form-input {
        width: 100%;
        margin-top: 20px;
        font-size: 0.8rem;
        padding: 4px 20px;
    }
    .form-label {
        /* display: none; */
        margin: 0px;
        top:30px;
        left: 15px;
        font-size: 0.8rem;
    }
    .form-label-name {
        /* display: none; */
        margin: 0px;
        top:30px;
        left: 15px;
    }
    .form-name-control {
        flex-direction: column;
        margin:0px;
        width: 100%;
    }

    .input-name-control {
        width: 100%;
        margin-top: 0px;
    }
    .form-input-name {
        width: 100%;
        margin-top: 20px;
        font-size: 0.8rem;
    }
    .form-label-name {
        font-size: 0.8rem;
    }
    .form-button-control {
        width: 80%;
    }
    /* .form-button-1 {
        margin-right: 3%;
    } */
    .form-footer {
        width: 80%;
    }
    .form-error {
        width: 80%;
    }
    .form-input:focus + .form-label,.form-input:valid + .form-label {
        position: absolute;
        top: 15px;
        font-size: 0.8rem;
        transition: 0.5s;
    }
    .form-input-name:focus + .form-label-name,.form-input-name:valid + .form-label-name {
        position: absolute;
        top: 15px;
        font-size: 0.8rem;
        transition: 0.5s;
    }
    .form-resetpassword {
        width: 80%;
    }
    .form-header p {
        font-size: 0.8rem;
    }
    .form-button {
        font-size: 0.7rem;
        width: 49%;
    }
    .form-footer p , .form-footer-a {
        font-size: 0.7rem;
    }
}