* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Kanit;
    /* width: 100%; */
    box-sizing: border-box;

}

.container {
    width: 80%;
    /* border: 1px solid red; */
    /* margin: 50px; */
    /* background-color: red; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

.item {
    background-color: rgb(221, 221, 221);
    height: 300px;
    border-radius: 1px;
}

@media screen and (max-width:768px) {
    .container {
        width: 97%;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 3px;
        row-gap: 3px;
    }
    .item {
        height:400px;
    }

}

@media screen and (max-width:400px) {
    .container {
        width: 97%;
        grid-template-columns: 1fr 1fr ;
        column-gap: 2px;
        row-gap: 2px;
    }
    .item {
        height:300px;
    }
}
